reol_media/
reol_django/db.sqlite3
reol_django/djk.txt
reol_django/django_venv/
reol_django/comic_like/migrations/
reol_django/comic_like/__pycache__/
reol_django/reol_django/__pycache__/
reol_bottle/login_file.py
reol_bottle/users.csv
reol_bottle/bottle_py/
reol_bottle/templates
reol_bottle/__pycache__/
