<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://static.reol.cl/reol.css">
        <link rel="icon" href="https://static.reol.cl/reol_favicon.png" type="image/png">
    </head>
    <body>
        <div class="sidebar">
            <img src="https://static.reol.cl/reol.png" width=230>
            <ul>
                <li class="sidelink"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="sidelink"><a href="{% url 'c_index' %}">Historias</a></li>
                <li class="sidelink"><a href="https://bottle.reol.cl">Rincón Secreto</a></li>
                <li class="sidelink"><a href="{% url 'not_implemented' %}">Contacto</a></li>
            </ul>
        </div>
        <div class="content">
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>
